<template name="layout">
    <body>
        {{>trueHeader}}
        {{> errors}}

        <div class="main-place">{{>yield}}</div>
    </body>
</template>

<template name="trueHeader">
    <div class="showOnlyWhenLarge">
        <div class="menu">
            <div class="right">
                <div class="menuList">
                    <ul>
                        <li><a href="{{pathFor 'frontPage'}}">Home</a></li>
                        <li class="works-list-header"><a href="{{pathFor 'worksList'}}">Works</a></li>
                        <li><a href="{{pathFor 'ideologyList'}}">Ideologies</a></li>
                        <li><a href="{{pathFor 'policyAreasList'}}">Policy Areas</a></li>
                        <li><a href="{{pathFor 'policyList'}}">Policies</a></li>
                        {{#with currentUser}}
                        <li><a href="{{pathFor 'userPage'}}">Your page</a></li>
                        {{/with}}
                        <li>{{>loginButtons align="right"}}</li>
                    </ul>
                </div>
            </div>
        </div>
        <hr>
    </div>

    <div class="showOnlyWhenSmall">
        <header class="navbar">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a>

            <div class="nav-collapse collapse mobileMenuList center">

                <p><a href="{{pathFor 'frontPage'}}">Home</a></p>

                <p class="works-list-header"><a href="{{pathFor 'worksList'}}">Works</a></p>

                <p><a href="{{pathFor 'ideologyList'}}">Ideologies</a></p>

                <p><a href="{{pathFor 'policyAreasList'}}">Policy Areas</a></p>

                <p><a href="{{pathFor 'policyList'}}">Policies</a></p>
                {{#with currentUser}}
                <p><a href="{{pathFor 'userPage'}}">Your page</a></p>

                <p><a href="{{pathFor 'logIn'}}">{{username}} &#9660;</a></p>
                {{/with}}
                {{#unless currentUser}}
                <p><a href="{{pathFor 'logIn'}}">Sign in &#9660;</a></p>
                {{/unless}}
            </div>
        </header>
    </div>
</template>