<head>
    <title>The Best Political Works</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- *** FACEBOOK META-TAGS *** -->

    <meta property="og:title" content="The Best Political Works"/>
    <meta property="og:image" content="http://openpolitics.meteor.com/book_porn.jpg"/>
    <meta property="og:url" content="http://thebestpoliticalworks.jit.su"/>
    <meta property="og:site_name" content="The Best Political Works"/>
    <meta property="og:description" content="Share what literature, documentaries, lectures, or other political media
    you find the most persuasive for or against any ideology or policy. Learn what others believe are the best political
     works and discuss their importance."/>


</head>

