<template name="chooseScore">
    Sort the political works by:<br>
    <input class="choose-score-checkbox" type="checkbox" id="convincing-score" {{functionSessionSet}}> how well,
    convincingly, and accurately they describe how the ideology/policy would function,<br>
    <input class="choose-score-checkbox" type="checkbox" id="readability-score"> their readability.<br>
</template>