<template name="placesList">
    <div class="places-list">
        {{#each place}}
        <div class="post">
            <div class="post-content">
                sf
            </div>
        </div>
        {{/each}}
    </div>
</template>