<template name="policyList">
    <div class="policy-list main3">
        <h1>Policies</h1><hr>
        {{#each policies}}
        <div class="post">
            <div class="post-content">
                    <h3><a href="{{pathFor 'policyPage'}}">{{solution}}</a><span>{{bestWork}}</span></h3>
            </div>
        </div>
        {{/each}}

        {{#if currentUser}}
            <a class="btn btn-success" href="{{pathFor 'discussAPolicy'}}">Add new policy</a><br><br>
        {{/if}}

    </div>
</template>