<template name="customAlert">
    <div id="dialogoverlay"></div>
    <div id="dialogbox">
        <div>
            <div id="dialogboxhead"></div>
            <div id="dialogboxbody"></div>
            <div id="dialogboxfoot">
                <button class="btn close-custom-alert">Cancel</button>
                <button class="btn btn-primary close-custom-alert">OK</button>
            </div>
        </div>
    </div>
    <button class="start-custom-alert">Custom Alert</button>
</template>