#dialogoverlay{
    display: none;
    opacity: .8;
    position: fixed;
    top: 0px;
    left: 0px;
    background: #CCC;
    width: 100%;
    z-index: 10;
}
#dialogbox{
    display: none;
    position: fixed;
    background: #FFF;
    border-radius: 7px;
    width: 550px;
    z-index: 10;
    padding: 7px;
}
#dialogbox > div{ background:#FFF;}
#dialogbox > div > #dialogboxhead{font-size:19px; padding:10px; color:#CCC; }
#dialogbox > div > #dialogboxbody{padding:20px; color:#FFF; }
#dialogbox > div > #dialogboxfoot{text-align:right; }
