<template name="privacyPolicy">
    <div class="myText">
        <h1>Privacy Policy</h1>
        <hr>

        The purpose of thebestpoliticalworks.org is to share information regarding what political system
        one believes is best. All information you share will be stored and made public on the site forever, unless you
        change the information. However, the identity of your account will not be connected to any other identity (on
        other sites or any legal identity you have) by this site without your approval (such as, if you log on to this site
        through another social site, such as facebook). Though, since all information you commit will be made public,
        some third party might use that to try and guess your identity. Consider this site as an open forum, a public
        realm where you can inform others on your views on different political topics and propaganda. You may be anonymous
        in the crowd (or not) but someone might always recognize you.

        <br><br>
        If you log on to this site by another account (for now, only Facebook is available for that option) your profile name
        will be made public. No other information that you submit by loggin in will be made public, but such things as your
        email or a link to your account will be copied into this site's database.

    </div>
</template>