<template name="ideologyItem">
    <div class="post">
        <div class="post-content">
            <h3><a href="{{pathFor 'ideologyPage'}}">{{name}}</a><span>{{bestWork}}</span></h3>
        </div>
    </div>
</template>

