<template name="ideologyPage">
    <div class="main ideology-page">
        <h1>{{name}}</h1>
        <hr>

        <h3>Supporting works</h3>
        <h4>According to proponents:</h4>
        <ol>
        {{#each proponentsPositiveWorks}}
            {{> listItemForIdeologyPage}}
        {{/each}}
        </ol>
        <br>


        <h4>According to non-proponents</h4>
        <ol>
            {{#each othersPositiveWorks}}
                {{> listItemForIdeologyPage}}
            {{/each}}
        </ol>
        <br>


        <h3>Undermining works</h3>
        <h4>According to non-proponents</h4>
        <ol>
            {{#each sortedOthersCriticalWorks}}
                {{> listItemForIdeologyPage}}
            {{/each}}
        </ol>

        <br>

        <h4>According to proponents</h4>
        <ol>
            {{#each sortedProponentsCriticalWorks}}
                {{> listItemForIdeologyPage}}
            {{/each}}
        </ol>

        <br><br>
        {{> chooseScore}}

        {{#if currentUser}}
        <br><br>
        <a class="btn btn-success" href="{{pathFor 'newAddWork'}}">Add a work for this ideology</a>
        {{/if}}
    </div>
</template>

<template name="listItemForIdeologyPage">
    <li>
        {{#with work}}<a href="{{pathFor 'worksPage'}}">{{title}}</a>{{/with}} <small>{{totalRatingSubString}}%</small>
    </li>
</template>

